html{
    font-family: sans-serif;
}

body{
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    background: #2b2b2b;
}

.signup input:focus{
    border-color: #0880FD;;
}

.signup {
    margin: 80px auto;
    padding: 25px 15px;
    max-width: 390px;
    background: #FFF;
}
.signup .title {
    margin-bottom: 40px;
    line-height: 1.2;
}

.align-center {
    text-align: center;
}

.signup input{
    display: block;
    width: 100%;
    padding: 2px 12px 0;
    line-height: 38px;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    outline: none;
}

.signup label{
    display: block;
    margin: 0 0 8px;
    font-size: 13px;
    text-transform: uppercase;
    color: #999;
}

.row{
    display: flex;
    flex-flow: row nowrap;
    margin: 0 -5px;
}

.col{
    margin: 0 5px 25px;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.signup button{
    margin: 20px 0 0;
    padding: 12px 20px;
    text-align: center;
    color: #FFF;
    background: #3A5FF6;
    border: none;
    border-radius: 6px;
    font-size: 18px;
}

.professionfield-input{
    position: relative;
    z-index: 3;
    overflow: visible;
    font: inherit;
    margin: 0;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: auto;
}

.select-open{
    display: block;
}

.select-open:before{
    transform: scale(1, -1);
}

.select-close{
    display: none;
}

.drop-list{
    position: relative;
    z-index: 2;
    margin-top: -4px;
    padding: 15px 0 11px;
    max-height: 160px;
    overflow: auto;
    background: #FFF;
    border: 1px solid #C8C8C8;
    border-top: none;
    border-radius: 0 0 6px 6px;
}

.drop-list-item {
    padding: 6px 12px;
    line-height: 1.2;
    cursor: pointer;
}

.drop-list-item:hover{
    background: #f5f5f5;
}

.phonefield-country{
    position: relative;
    z-index: 1;
    width: 70px !important;
    text-indent: -9999em;
    border-right: none !important;
    border-radius: 4px 0 0 4px !important;
    background: transparent;
    cursor: pointer;
    overflow: visible;
    font: inherit;
    margin: 0;
}

.phonefield-country:focus{
    border-color: #C8C8C8 !important;
}

.phonefield {
    position: relative;
    z-index: 1;
    font-size: 18px;
}

.phonefield input{
    font-size: 18px;
}

.phonefield-row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

.phonefield-country-wrap {
    position: relative;
    background: #F9F9F9;
    border-radius: 4px 0 0 4px;
}

.phonefield-country-wrap:before {
     content: '';
     position: absolute;
     top: 16px;
     right: 12px;
     width: 12px;
     height: 12px;
     background: url("./images/arrow-down.svg") center center no-repeat;
     background-size: 12px;
}


.phonefield-input-wrap{
    position: relative;
    display: flex;
    width: 100%;
    border: 1px solid #C8C8C8;
    border-radius: 0 4px 4px 0;
}

.phonefield-input-wrap:focus {
    border-color: #0880FD
}

.phonefield-code{
    padding: 2px 0 0 12px;
    line-height: 38px;
}

.phonefield-input{
    padding-left: 10px;
    border: none !important;
}

.phonefield-input:focus{
    border: none;
}

.phonefield-country-list{
    z-index: -1;
}

.phonefield-country-list-item{
    position: relative;
    padding-top: 10px;
    padding-left: 45px;
}

.phonefield img{
    width: 26px;
    height: 17px;
}

.flag{
    background-repeat: no-repeat;
    background-position: 6px;
    outline: none;
    padding-left: 45px;
    background-size: 28px;
}

.flag-ru{
    background-image: url("https://emojipedia-us.s3.amazonaws.com/thumbs/160/twitter/103/flag-for-russia_1f1f7-1f1fa.png");
}

.flag-jp{
    background-image: url("https://emojipedia-us.s3.amazonaws.com/thumbs/160/twitter/103/flag-for-japan_1f1ef-1f1f5.png");
}

.flag-fr{
    background-image: url("https://emojipedia-us.s3.amazonaws.com/thumbs/160/twitter/103/flag-for-france_1f1eb-1f1f7.png");
}

.div-flag{
    margin-left: -43px;
}